<div class="container" *ngIf='identity'>
<div class="containerForm">
<h3>Titulo: {{question.title}}</h3>
<h3>Contenido: {{question.text}}</h3>
<h3>Correspondiente al formulario : {{question.Idform.title}}</h3>

<div class="seguro" *ngIf="confirmado == question._id" style="margin-top: 2%">
    <p>¿Estas seguro de elimarlo?</p>
  </div>
<div *ngIf="confirmado != question._id">
<input *ngIf="add_res"style="margin-top: 5%; margin-right: 5%;" type="submit" value="Editar pregunta" class="btn btn-primary" [routerLink]="['/edit-question-answers',question._id]"/>
<input *ngIf="!add_res" style="margin-top: 5%" type="submit" value="Añadir respuestas" class="btn btn-primary" [routerLink]="['/create-answer',question._id]"/>
<input style="margin-top: 5%" type="submit" value="Borrar" (click)="OnDeleteConfirm(question._id)" class="btn btn-danger" />
</div>
<div class="seguro" *ngIf="confirmado == question._id">
    <a (click)="onDeleteQuestion(question._id)" class="btn btn-danger" style="margin-right: 2%;"> Eliminar </a>
    <a (click)="onCancelquestion()" class="btn btn-primary">Cancelar</a>
</div>
</div>
</div>
 <div *ngIf='!identity' >
 No puedes acceder
 </div>

