
 <div *ngIf='identity' class="container" >
    <div *ngIf="Message">
        <div class="alert alert-info" role="alert">
            {{Message}}
          </div>
    </div>
    <form class="containerForm" #registerForm="ngForm"(ngSubmit)="onSubmitRegister()" >
        <h3>Registrar nuevo usuario</h3>
        <label for="InputTitle" style="margin-top: 5%;">Email</label>
        <div class="form-group">
            <input type="email" #email= "ngModel" [(ngModel)]="user.email" class="form-control" name="email" size="20" maxlength="30" placeholder="Introduzca el email" required autofocus>
            <span *ngIf= "!email.valid && email.touched"> El email es obligatorio</span>
        </div>
        <label for="InputTitle">Contraseña</label>
        <div class="form-group">
            <input type="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" name="password" size="20" maxlength="30" placeholder="Introduzca la contraseña" required>
        </div>
        <div style="margin-top: 2%;"><button type="submit" class="btn btn-primary">Registrarse</button></div>
    </form>

</div>
<div *ngIf='!identity'> No puedes acceder a esta parte</div>

