
<div class="container">
<form  class="containerForm" *ngIf="identity" style=" width: 60% ;margin-left: 15%; margin-right: 15%;" #formQuestion="ngForm" (ngSubmit)="onSubmit()">
    <h2>Crea una pregunta nueva en el formulario : {{form.title}} </h2>
    <div *ngIf="alertMessage">
        <div class="alert alert-info" role="alert">
            {{alertMessage}}
          </div>
    </div>
    <div>
    </div>
      <label style="margin-top: 5%;" for="InputTitle">Titulo</label>
      <input type="text" class="form-control" #title="ngModel" [(ngModel)]="question.title"  name="title" size="15" maxlength="50" placeholder="Introduzca Titulo">
      <span *ngIf= "!title.valid && title.touched"> El titulo es obligatorio</span>
      <label for="InputFormulario">Pregunta del Formulario</label>
      <input type="text" class="form-control" #text="ngModel" [(ngModel)]="question.text"  name="text" size="15" maxlength="100" placeholder="Pregunta formulario">
      <span *ngIf= "!text.valid && text.touched"> La pregunta es obligatoria</span>

      <div *ngIf="!morequestions">
      <label for="exampleFormControlSelect1">Seleccion de la pregunta anterior</label>
            <select  class="form-control" name="opcionSeleccionado" #opcionseleccionada="ngModel" [(ngModel)]="opcionSeleccionado" (change)="capturarQuestion()">
              <option [ngValue]="question" *ngFor="let question of questions">{{question.title}}</option>
            </select>
        <label for="exampleFormControlSelect2">Seleccion de la respuesta de la pregunta anterior</label>
                <select class="form-control" id="exampleFormControlSelect2" name="opcionSeleccionado2" #opcionseleccionada2="ngModel" [(ngModel)]="opcionSeleccionadoAnswer" (change)="capturarAnswer()">
                  <option [ngValue]="answer" *ngFor="let answer of answers">{{answer.text}}</option>
                </select>
      </div>
    <div style="margin-top: 2%;"><button type="submit" class="btn btn-primary" >Guardar pregunta</button></div>
    
</form>
</div>
<div *ngIf="!identity">
    <p>No puedes acceder a esta parte</p>
</div>
